<!-- generated: enaible -->
{% if metadata.comment %}<!-- {{ metadata.comment }} -->
{% endif %}# {{ title }}

{% if variables %}## Variables
| Token | Type | Description |
| ----- | ---- | ----------- |
{% for var in variables -%}
| `{{ var.token }}` | {{ var.type_text }} | {{ var.description }} |
{% endfor %}

{% endif %}{{ body }}
